@media screen and (max-width: 425px) {
	$marge: 0 20px;
	@mixin text-style {
        font-size: 3.5vw;
    }
    @mixin title-style {
        font-size: 8vw;
    }
	@mixin big-title-style {
        font-size: 12vw;
    }
	header{
		.loader .logo img{
			width: 200px;
		}
		.box {
			.container-lignes{
				width: 100px;
				height: 20px;
				.lignes{
					width: 50px;
					height: 1px;
				}
			}
		}
		.box-telephone{
			.nav-telephone{
				height: 60px;
				.rdv-tel{
					width: 150px;
					height: 40px;
					font-size: 1.2rem;
					margin: 0px 10px;

				}
				img{
					width: 40px;
					height: 40px;
				}
			}
		}
	}
	section{
		.presentation{
			margin: $marge;
			margin-top: 30px;
			.text-presentation{
				h1{
                    @include title-style;
                }
                p{
                    @include text-style;
                }
			}
		}
		.salon{
			margin-top: 0px;
            h1{
                @include big-title-style;
            }
        }
		.carousel{
			margin-top: 70px;
			.slider{
				margin: $marge;
				.slides{
					width: calc(100% * 6);
					display: flex;
					animation: diaporama 20s infinite;
					.slide{
						float: left;
						margin-right: 30px;
						img{
							width: 100%;
							border-radius: 5%;
						}
					}
				}
			}
		}
		@keyframes diaporama {
			0%{
				transform: translateX(15px);
				
			}
			10%{
				transform: translateX(15px);
			}
			20%{
				transform: translateX(-16%);
			}
			30%{
				transform: translateX(-16%);
			}
			40%{
				transform: translateX(-32.6%);
			}
			50%{
				transform: translateX(-32.6%);
			}
			60%{
				transform: translateX(-49.3%);
			}
			70%{
				transform: translateX(-49.3%);
			}
			80%{
				transform: translateX(-66%);
			}
			90%{
				transform: translateX(-66%);
			}
			100%{
				transform: translateX(-82.6%);
			}
		}
		.equipe{
            .titre{
                h1{
                    @include big-title-style;
					margin-bottom: 40px;
                }
            }
            .equipe-container{
				padding: 0 20px;
                .laurent, .isabelle, .alizee, .frederique, .nathan {
                    margin: 10px 0px;
                    width: 100%;
                }
            }
		}
		.kevin-murphy{
			margin-top: 50px;
            .titre{
                @include big-title-style;
				margin: $marge;
            }
            .item-container{
                grid-gap: 20px;
				margin: $marge;
				margin-top: 40px;
            }
            .km-container{
				margin: $marge;
				margin-top: 20px;
				height: auto;
                .km-text-container{
                    @include text-style;
					padding: 20px;
                }
            }
        }
		.ghd{
			margin-top: 50px;
            h1{
                @include big-title-style;
            }
            .ghd-img-container{
				margin: $marge;
				margin-top: 50px;
				grid-gap: 20px;
            }
            .ghd-text-container{
                margin: $marge;
				margin-top: 20px;
				height: auto;
                .ghd-partie1{
                    p{
                        @include text-style;
						top: 0%;
						padding: 20px;
                    }
                }
                .ghd-partie2{
                    h1{
                        @include title-style;
						padding: 20px 20px 0px 20px;
                    }
                }
            }
        }
	}
	footer{
		.footer-container{
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			text-align: center;
			height: 400px;
			.contact-container{
				width: 100%;
				.footer-icones{
					display: none;
				}
				.adresse{
					a{
						font-size: 4vw;
					}
				}
			}
			.horaires{
				width: 100%;
				h1{

					font-size: 7vw;
				}
				p{
					font-size: 4vw;
				}
			}
		}
	}
}