@media screen and (max-width: 1024px) {
	@mixin text-style {
        font-size: 1.8vw;
    }
    @mixin title-style {
        font-size: 5vw;
    }
	@mixin big-title-style {
        font-size: 10vw;
    }
    body.open .reseaux{
        transform: translateY(150%);
        transition: transform 1s ease;
    }
    section{
        .reseaux{
            transition: transform 700ms ease;
        }
        .presentation{
            flex-direction: column;
            height: auto;
            .presentation-image{
                width: 100%;
                img{
                    top: 0%;
                }
            }
            .text-presentation{
                width: 100%;
                height: 350px;
                margin-top: 40px;
                h1{
                    @include title-style;
                }
                p{
                    @include text-style;
                }
            }
        }
        .salon{
            h1{
                @include big-title-style;
            }
        }
        .equipe{
            .titre{
                h1{
                    @include big-title-style;
                }
            }
            .equipe-container{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .laurent, .isabelle, .alizee, .frederique, .nathan {
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                    margin: 10px 10px;
                    width: 30%;
                    &:hover img{
                        opacity: 0.5;
                    }
                    &:hover .overlay{
                        opacity: 1;
                        z-index: 5;
                    }
                }
            }
            .laurent img, .alizee img, .isabelle img{
                border-radius: 50% 50% 0% 0%;
            } 
            .nathan img, .frederique img{
                border-radius: 0% 0% 50% 50%;
            }
        }
        .kevin-murphy{
            .titre{
                @include big-title-style;
            }
            .item-container{
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);
                grid-gap: 20px;
                .items:nth-child(9){
                    display: none;
                }
                .item2{
                    grid-column: 1 / 2;
                    grid-row: 1 / 2 ;
                }
                .item6{
                    grid-column: 1 / 2;
                    grid-row: 3 / 4;
                }
            }
            .km-container{
                .km-text-container{
                    width: 100%;
                    @include text-style;
                }
                .km-image-fond{
                    display: none;
                }
            }
        }
        .ghd{
            h1{
                @include big-title-style;
            }
            .ghd-img-container{
                grid-template-columns: repeat(1 ,1fr);
                grid-template-rows: repeat(3, 1fr);
                .ghd-img:nth-child(2){
                    margin-top: 0px;
                }
            }
            .ghd-text-container{
                flex-direction: column;
                height: 650px;
                .ghd-partie1{
                    width: 100%;
                    p{
                        @include text-style;
                    }
                }
                .ghd-separation{
                    height: 1px;
                    width: 70%;
                    margin: 30px 0px;
                }
                .ghd-partie2{
                    h1{
                        @include title-style;
                    }
                }
            }
        }
    }
    footer{
		clip-path: none;
		padding: 10px 30px;
		box-shadow: $border-shdw;
		.footer-container{
			padding-top: 0px;
			justify-content: space-between;
			height: 250px;
			.contact-container{
				width: 50%;
                .adresse{
					a{
						font-size: 1.5vw;
					}
				}
			}
			.footer-logo{
				display: none;
			}
			.horaires{
				width: 40%;
                h1{
					font-size: 2vw;
				}
				p{
					font-size: 1.5vw;
				}
			}
		}
	}
}